// app.scss

// Colores de fondo
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-terciary {
  background-color: $terciary !important;
}

.bg-dark {
  background-color: $dark !important;
}

.custom-header {
  background-color: $terciary; // Color personalizado para headers
}

.bg-footer-main {
  background-color: $primary; // Última sección del footer
}

.bg-footer-secondary {
  background-color: $secondary; // Penúltima sección del footer
}

.bg-page {
  background-color: $page-background !important; // Fondo de la página
}

// Tipografía
.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-bold {
  font-weight: $font-weight-bold !important;
}

.text-semibold {
  font-weight: $font-weight-semibold !important;
}

.text-description {
  color: #000 !important; // Color negro para descripciones
}

// Márgenes y Padding uniformes
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 4px !important;
}
.m-2 {
  margin: 8px !important;
}
.m-3 {
  margin: 16px !important;
}

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 4px !important;
}
.p-2 {
  padding: 8px !important;
}
.p-3 {
  padding: 16px !important;
}

// Botones personalizados
.btn-primary {
  background-color: $primary;
  color: #fff;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
  &:hover {
    background-color: darken($primary, 10%);
  }
}

.btn-secondary {
  background-color: $secondary;
  color: #fff;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
  &:hover {
    background-color: darken($secondary, 10%);
  }
}
