// quasar.variables.scss

// Colores personalizados
$primary: #13344e; // Color primario para letras y elementos principales
$secondary: #204664; // Color secundario para fondos
$terciary: #204764; // Color terciario para fondos
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Fondo de página
$page-background: #d8f6fd;

// Tipografía
$font-family-base: "Century Gothic", sans-serif; // Tipo de letra base
$font-size-root: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-weight-bold: 700; // Peso de letra para títulos
$font-weight-semibold: 600; // Peso de letra para subtítulos

// Bordes y sombras
$border-radius-base: 4px;
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1);
